# Core functionality - changes here should be rare!
/src/app.py                   @sangramrath
/src/backend/database.py      @sangramrath
/src/backend/routers/auth.py  @sangramrath

# The frontend will need refactored soon to be more object oriented.
/src/static/   @sangramrath
